@media screen and (max-width: 600px) {
  .acorp-info {
    padding-top: 30%;
  }
  .acorp-info .main-title {
    margin-top: 10%;
    font-size: 2.5rem;
  }

  .main-title .ttlam {
    width: 60px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 2px #686868d7;
  }

  .acorp-info .secondary-title {
    font-size: 10px;
    padding: 5px;
  }
  .startlinks p {
    font-size: 12px;
  }
  .footer {
    font-size: 12px;
  }
  .footer-button {
    width: 120px;
    padding: 2px 3px;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .acorp-info .main-title {
    margin-top: 15%;
    font-size: 4rem;
    font-family: "Arial Black", Gadget, sans-serif;
    font-weight: 600;
  }

  .main-title .ttlam {
    width: 100px;
  }

  .acorp-info .secondary-title {
    font-size: 16px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-weight: 600;
  }
}
