body {
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
}
html {
  width: 100%;
  height: 100%;
  overscroll-behavior: hidden;
}

.acorp-info {
  top: 0px;
  left: 0px;
  width: 100%;
  position: fixed;
  height: 100vh;
  background-color: #0f0f0f6c;
  z-index: 10;
  padding: 20px;
  padding-top: 10%;
}
.video-background {
  z-index: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  filter: blur(2px);
}

.acorp-info .main-title {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 8rem;
  font-weight: 600;
  color: #11d70ab5;
  margin-bottom: 20px;
}
.main-title .ttlam {
  width: 165px;
  background-color: #1f1f1f4b;
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px #add8005e;
}

.acorp-info .secondary-title {
  font-family: "Arial Black", Gadget, sans-serif;
  background-color: #161616;
  border-radius: 0px;
  color: #c1c1c1;
  font-size: 30px;
  padding: 10px;
}

.reshold {
  max-width: 1000px;
}
.startlinks {
  margin-top: 20px;
}
.startlinks .row,
.startlinks .col-md-6 {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.startlinks p {
  font-family: "Courier New", Courier, monospace;
  width: 100%;
  background-color: #001cbc51;
  padding: 10px;
  border: 2px dashed #008000;
  color: white;
  cursor: pointer;
  font-size: 16px;
}
.startlinks p:hover {
  opacity: 0.7;
}

.startlinks a {
  color: white;
  text-decoration: none;
}
.footer {
  background-color: #161616a1;
  color: #b5b5b5;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  font-size: 16px;
}

.footer-left {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: #c3c3c3;
}

.footer-button {
  background-color: #8f4c00ba;
  color: #ebebebd0;
  border: none;
  padding: 5px;
  cursor: pointer;
  width: 180px;
  border-radius: 5px;
  box-shadow: 2px 2px 0px 0px #686868d7;
  margin-right: 2px;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #000000e6;
  overflow-x: hidden;
  transition: 0.5s;
  text-align: center;
}

.overlay-content {
  position: relative;
  top: 20%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  text-transform: uppercase;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn span {
  background-color: #262626;
  font-size: 18px;
  padding: 5px 50px;
}

#ambtn {
  position: fixed;
  bottom: 75px;
  left: 25px;
  background-color: #00a2ff;
  color: #fff;
  padding: 7px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 10;
  background-size: cover;
  background-position: center;
  box-shadow: -5px -5px 0px 0px #0583d16d;
}
#ambtn:hover {
  opacity: 0.8;
}

.amcondv {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background-color: #0e0e0eab;
  z-index: 10;
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
}
.amconmn {
  position: fixed;
  bottom: 75px;
  left: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  background-color: #f9f9f9;
  width: 90%;
  max-width: 400px;
  word-wrap: break-word;
  box-shadow: 0px 4px 20px 0px #a6a6a68c;
}
.amconmn a {
  color: #454545;
  display: inline-block;
}
.amcontt {
  font-weight: 600;
  color: #454545;
}
.amcontt a {
  cursor: pointer;
}
#closeButton {
  border: 0px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: #0f0ccbac;
  color: white;
}
.amcon {
  padding: 10px;
  background: #e2e2e2;
  border-radius: 10px;
}
#newtabwind svg {
  width: 12px;
  height: 12px;
  color: #1b1b1b;
  margin-top: -2px;
}
#newtabwind {
  width: 25px;
  background-color: #00a2ff;
}

#closeBtnfrm {
  background-color: #f93838;
  width: 25px;
  color: #1b1b1b;
}
#loadfrmdv {
  color: #5c5c5ccc;
}
#newtabwind:hover,
#closeBtnfrm:hover {
  background-color: #d1d1d1;
  transition: 0.2s;
}
.spinloadfrm svg {
  width: 16px;
  height: 16px;
  margin-right: 6px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
